
body{
  background-image:url("back.jpg"),linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
  background-size: cover;
  background-blend-mode: darken;
 
}
.main{
  text-align: center;
  margin: 25px auto;
  color: blue;
  display: flex;
  flex-direction: column;
 
}

.Search{
  width: 50%;
  margin: auto;
}